.user{
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    margin: 0.5em 0;
    background: #ffffff;
    opacity: .9;
    padding:  .2em .8em 0;
    border-radius: 3px;
}
.userLink{
    width: 100%;
    height: 100%;
}
.userLogo{
    display: flex;
    flex-direction: column;
    width: 4.5em;
}
.userImg{
    width: 100%;
    height: 100%;
    border-radius: 1.3em .3em .3em .3em;
}
.userDesc{
    padding: 0 1em;
    width: 70%;
     /*display: flex;*/
     /*align-items: center;*/
     /*justify-content: space-between;*/
 }
.name{

}
.status{

}
.location{
    width: 5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.user button {
    width: 7.6em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #999999;
    outline: none;
    padding: 0.8em;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
}
.user button:hover {
    background-color: #ffffff;
    color: #999999;
    border: 1px solid #999999;
}
