.nav_menu{
    /*grid-area: nav;*/
    width: 11em;
    position: fixed;
    top: 4em;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    height: 100%;
    box-sizing: border-box;
}
.menu_item{
    padding: 0.1em 3em;
}
.menu_item_link{
    color: #999999;
    text-decoration: none;
    text-transform: uppercase;
}
.active_item{
    color: #333333;
    font-weight: 600;
}
