.app {
    position: relative;
}

.app-wrap_content {
    position: relative;
    border-top: 1px solid #999999;
    margin: 4em 0 0 11em;
}

.bg_img {
    background-size: cover;
    background-position: left;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    left: 0;
    top: 6vh;
}

